@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

.fondo {
  background: linear-gradient(to bottom, #ffffff, #ff9f00, #ff0000);
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed; /* mantiene el gradiente al hacer scroll */
}


#root, body, html {
  min-height: 100vh;
}



body {
  padding-top: env(safe-area-inset-top, 1rem);
  padding-bottom: env(safe-area-inset-bottom, 1.5rem);
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes shine {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-shine {
  animation: shine 2.5s infinite;
}


