@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

.fondo {
  margin: 0;
  padding: 0;
  min-height: 80%;

  /* Tu gradiente exacto */
  background: linear-gradient(to bottom, #ffffff, #f36e02, #ff0000);

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll; /* importante para móviles */
}

/* Safe area para móviles */
body {
  padding-top: env(safe-area-inset-top, 1rem);
  padding-bottom: env(safe-area-inset-bottom, 1.5rem);
}





#root, body, html {
  min-height: 100vh;
}



body {
  padding-top: env(safe-area-inset-top, 1rem);
  padding-bottom: env(safe-area-inset-bottom, 1.5rem);
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes shine {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-shine {
  animation: shine 2.5s infinite;
}


